# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.lib

# PyTorch cache / transformers / datasets
~/.cache/
*.pt
*.pth
*.ckpt

# Logs and local data
*.log
*.tmp
*.bak

# Virtual environment
.venv/